body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;

  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #3498db;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  p {
    font-size: 18px;
    font-weight: bold;
  }
  
  #result {
    font-size: 24px;
    font-weight: bold;
  }