*{
    box-sizing: border-box;
} 

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: #232323;
}

a {
    text-decoration: none;
    color: white;
}

.conteiner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.menu,
.greating,
.about,
.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    background-image: url(".images/layer_1.png");
}