*{
    box-sizing: border-box;
} 

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.menu
 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

header {
    background-image: url('images/layer_1.png');
    background-size: cover;
    height: 737px;
    padding: 40px 100px 0px 100px;
}

a {
    padding: 10px 15px;
}
a:hover {
    
    text-decoration: none;
    border-radius: 20px;
    border: 1px solid white;
    /* color: red */
  }

  .logo:hover {
    border: none;
} 

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 5px;
    padding-top: 220px;

}

.textManu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.conteiner {
        padding: 30px 0 50px 0;

}

main {
    color:black;
    
}

main h1{
    padding-top: 20px;
}

.navPortfolio a{
    color: black;
}

.navPortfolio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navPortfolio a {
    padding: 40px 10px;
}

.featured {
    display: grid;
    grid-template-columns: 701px 334px 334px;
    justify-content: center;
}

.portfolio {
    display: grid;
    grid-template-rows: minmax(301px auto);
    justify-content: center;
    grid-gap: 10px;
}

.portfolio img {
    padding: 0 5px;
    
}

.all {
    display: flex;
    justify-content: center;
}
